
@font-face {
  font-family: 'Droulers-Regular';
  src: url('Droulers-Regular.eot?#iefix') format('embedded-opentype'),  url('Droulers-Regular.woff') format('woff'), url('Droulers-Regular.ttf')  format('truetype'), url('Droulers-Regular.svg#Droulers-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
